
      .sliders {
         width: 30%;
         display: inline-block;
         border: 2px solid #000;
         padding-left: 10px;
      }
      .sliders p {
         margin: 18px 0;
         vertical-align: middle;
      }
      .sliders label {
         display: inline-block;
         margin: 10px 0 0 0;
         width: 100px;
         font-size: 1.1rem;
         color: #22313F;
         text-align: left;
         vertical-align: middle;
      }
      .sliders input {
         position: relative;
         margin: 10px 20px 0 10px;
         vertical-align: middle;
      }
      input[type=range] {
         /*removes default webkit styles*/
         
         -webkit-appearance: none;
         /*fix for FF unable to apply focus style bug */
         
         border-radius: 5px;
         /*required for proper track sizing in FF*/
         
         width: 150px;
      }
      input[type=range]::-webkit-slider-runnable-track {
         width: 300px;
         height: 7px;
         background: #ABB7B7;
         border: none;
         border-radius: 3px;
      }
      input[type=range]::-webkit-slider-thumb {
         -webkit-appearance: none;
         border: none;
         height: 20px;
         width: 20px;
         border-radius: 50%;
         background: #4B77BE;
         margin-top: -6px;
         vertical-align: middle;
      }
      input[type=range]:focus {
         outline: none;
      }
      input[type=range]:hover {
         cursor: pointer;
      }
      #resett {
         display: inline-block;
         height: 2.5rem;
         width: 95%;
         background-color: #22A7F0;
         border-radius: 5px;
         cursor: pointer;
         outline: none;
         font-size: 1.5rem;
         color: #fff;
         margin: 0 10px 10px 0px;
         border: 2px solid transparent;
      }
      #resett:hover {
         color: #22A7F0;
         background-color: #fff;
         border: 2px solid #22A7F0;
      }


      #filterarea img {
         width: 25%;
         float: left;
         margin: 0;
         -webkit-transition: all 1s
      }
      /*Filter styles*/
      
      .saturate {
         -webkit-filter: saturate(3);
      }
      .grayscale {
         -webkit-filter: grayscale(100%);
      }
      .contrast {
         -webkit-filter: contrast(160%);
      }
      .brightness {
         -webkit-filter: brightness(0.25);
      }
      .blur {
         -webkit-filter: blur(3px);
      }
      .invert {
         -webkit-filter: invert(10%);
      }
      .sepia {
         -webkit-filter: sepia(100%);
      }
      .huerotate {
         -webkit-filter: hue-rotate(180deg);
      }
      .rss.opacity {
         -webkit-filter: opacity(50%);
      }
      /* preview the difference */
      
      #filterarea img:hover {
         -webkit-filter: none;
      }


      .radio-img > input {
         display: none;
      }
      .radio-img > img {
         cursor: pointer;
         border: 2px solid transparent;
      }
      .radio-img > input:checked + img {
         border: 2px solid orange;
      }